<!DOCTYPE html>
<html>
  <head>
    <title>ICU Message Format Helper</title>
    <script src="https://cdn.crowdin.com/apps/dist/iframe.js"></script>
    <script src="https://crowdin-web-components.s3.amazonaws.com/crowdin-web-components.js"></script>

    <script src="icuParser.js"></script>

    <script type="text/javascript" src="/editor-panel.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body onload="updateUi()">
    <main>
      <div style="text-align: center; margin-top: 2rem; margin-bottom: 3rem">
        <crowdin-h4>ICU Message Format Helper</crowdin-h4>
        <crowdin-p style="margin-top: 2rem"
          >Select string with an ICU Message.</crowdin-p
        ><crowdin-p>The Helper will assist you with the translation.</crowdin-p>
      </div>

      <div id="no-icu-message"></div>

      <div id="translate-panel"></div>

      <div
        id="set-translation-button"
        style="display: flex; justify-content: center; margin-top: 2rem"
      >
        <crowdin-button
          outlined
          onclick="checkAllFormsTranslatedBeforeSettingTranslation()"
        >
          Set translation
        </crowdin-button>
      </div>

      <div
        id="translation-preview"
        style="margin-top: 5rem; margin-left: 1rem; margin-right: 1rem"
      >
        <crowdin-p class="hydrated">Translation preview:</crowdin-p>
        <crowdin-code
          id="translation-preview-code"
          is-copyable="false"
          class="hydrated"
        ></crowdin-code>
      </div>

      <crowdin-modal
        id="form-translations-missing-modal"
        modal-width="80"
        modal-title="Form translations missing"
        close-button="false"
      >
        There are some untranslated forms. Are you sure you want to set the
        translation?
        <div
          style="justify-content: space-evenly; display: flex; margin-top: 2rem"
        >
          <crowdin-button
            outlined
            onclick="document.getElementById('form-translations-missing-modal').close()"
          >
            No
          </crowdin-button>

          <crowdin-button
            outlined
            onclick="setTranslation(); document.getElementById('form-translations-missing-modal').close()"
          >
            Yes
          </crowdin-button>
        </div>
      </crowdin-modal>

      <crowdin-modal
        id="no-translated-forms-modal"
        modal-width="80"
        modal-title="No translated forms"
        close-button="false"
      >
        Please translate at least one form to be able to set the translation.
        <div style="justify-content: center; display: flex; margin-top: 2rem">
          <crowdin-button
            primary
            onclick="document.getElementById('no-translated-forms-modal').close();"
          >
            OK
          </crowdin-button>
        </div>
      </crowdin-modal>
    </main>
  </body>
</html>
